<h1>Institutional Publications</h2>

  <ul>

  <% @publication.each do |publication| %>

    <li>
      <a href="/publications/<%= publication.id %>"><%= publication.title %></a><br>
      By: <%= publication.user.first_name %>
           
    </li>
  <% end %>

</ul>