/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  font-family: 'Helvetica Neue', Arial ,sans-serif;
  color: #444;
  // background: #f9f9fa;
  background-image: image_url('bg-grid.png');

  // margin-top: 50px;
  margin-bottom: 60px;
}

// Remove Navbar background color and border
.navbar-default {
  margin: 2% auto;
  width: 92%;
  max-width: 1100px;
  opacity: 1;
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  background-image: image_url('bg-grid.png');
}

.content {
  margin: 2% auto;
  margin-bottom:0;
  width: 92%;
  max-width: 1100px;
  padding: 2.5% 5%;
  opacity: .98;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  -o-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

@media print {
  body {
    // background-color: #FFF;
    background-color: #DFDFDF;
    font-size: 20px;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }

   .pdf_exclude {
        display: none;
  }
}

